


<div style="margin: 5%;">

    <div style="margin: 5%;">
        <h3 id="aboutUsHead">About Us</h3>

    <p>We strive for excellence in everything we do in life. Our crafted drinks are a way we 
    show respect for our customers and ourselves. They are the beginning of a relationship 
    built on trust and care that through time grows to see our stories unfold in our city.</p>

    <p>As part of local communities, each Coffee shop team finds ways to serve their 
    neighborhoods. And by doing so we help raise the bar for relationship and compassion.</p>
    
    <p>As relationship grows, so does accountability. We hold each other to higher standards for 
    the good of all. Whether it be care for nature, care for those in need, or just a sincere 
    desire to see others do well, we learn to expect a lot from each other and a lot for our 
    customers.</p>
    
    <p>Our priority at Black Rock is not for others to know who we are and what we do... but for 
    others to allow us to know them, to add fuel to their story, and to share in the journey.</p>
    </div>
    
    <img style="margin: 5%; border: gray solid 5px; border-radius: 2px;" src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Coffee_beans2.jpg" width="900" height="600">
<div>